@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Stack Sans Headline";
}

body {
    font-family: var(--primary-font);
    font-size: 18px;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: var(--secondary-font);
    font-size: 18px;
    padding: 20px 0px;
}

header > img {
    max-width: 60px;
}

.recipe {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.recipe_img {
    width: 400px;
}

.tags{
    border: 1px solid black;
    width: 80px;
    height: 20px;
    text-align: center;
}

.recipe_title {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin: 4px;
    padding-top: 15px;
}

.desc {
    display: none;
}

img {
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 50px;
}

@media screen and (min-width: 700px) {
    .recipe {
        flex-direction: row;
        gap: 20px;
    }
    .desc {
        display: block;
    }
}