@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

@font-face {
    font-family: 'Bombardier';
    src: url('Bombardier-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  /* Color Palette */
  --primary-color: #5ec4f7   ;
  --secondary-color: #1e5882 ;
  --accent1-color: #391535;
  --accent2-color: #f7ffbc;

  /* Fonts */
  --heading-font: 'Bombardier', "IM Fell French Canon SC", Arial;
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* Font colors */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #f7ffbc;
  --nav-background-color: #391535;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

/* General */

body {
    font-family: var(--paragraph-font);
}

/* Navigation */

nav {
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 80px;
}
nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 30px;
    font-size: 20px;
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

/* Header */

header h1 {
    font-family: var(--heading-font);
    font-size: 40px;
    color: var(--headline-color-on-white);
    text-align: center;
}
header hr {
    color: var(--secondary-color);
    border: 2px solid;
    width: 75%;
    margin: 0 auto;
}
header > p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 17px;
    font-weight: bold;
}

.section_break {
    margin-top: 30px;
    background-color: var(--accent1-color);
    padding: 5px 15px;
}
.section_break p {
    color: var(--accent2-color);
    text-align: center;
}

/* Main */

.main_intro {
    display: flex;
    align-items: center;
}
.img_wrap {
    flex: 1 1 70em;
    padding: 10px 0px;
}
.img_wrap img {
    width: 100%;
    height: auto;
    display: block;
}
.main_intro p {
    text-align: center;
    padding: 0px 10px;
    font-size: 18px;
}

.base_mechanic {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.bm_img_wrap {
    flex: 1 0 150px;
    max-width: 150px;
}
.bm_img_wrap img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.bm_info {
    max-width: 800px;
}
.bm_info h2 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    text-align: center;
    font-size: 30px;
    margin: 5px;
}
.bm_info hr {
    color: var(--secondary-color);
    border: 2px solid;
    margin: 0 auto;
}
.bm_info p {
    font-size: 18px;
}

/* Footer */

footer {
    margin-top: 50px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img {
    width: 60px;
    padding-left: 5px;
}
footer p {
    padding: 15px 0px;
}
footer a {
    color: var(--accent2-color);
    text-decoration: none;
}

/* Page 2 (Items) */

.item_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.item_img {
    border: 2px solid;
    width: 100px;
}

#white_section div {
    font-family: var(--heading-font);
    border: 5px solid;
    border-color: black;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
#green_section div {
    font-family: var(--heading-font);
    border: 5px solid;
    border-color: rgb(0, 126, 27);
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
#red_section div {
    font-family: var(--heading-font);
    border: 5px solid;
    border-color: rgb(126, 0, 0);
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

/* Overlay */

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#overlay.hidden {
    display: none;
}
.overlay_content {
    background: white;
    max-width: 90vw;
    max-height: 90vh;
    padding: 1rem;
    position: relative;
}
#overlay_img {
    max-width: 100%;
    max-height: 70vh;
    display: block;
    margin: 0 auto;
}
#overlay_title {
    text-align: center;
}
.overlay_close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.5rem;
}

/* Responsiveness */

@media screen and (max-width: 600px) {
    .img_wrap {
        display: none;
    }

    .base_mechanic {
        display: block;
    }
    .bm_img_wrap {
        margin: 0 auto;
    }

    .item_list {
        grid-template-columns: repeat(3, 1fr);
    }
}